#cs1300-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
img {
 width: 400px;
 height: 400px;
 padding-bottom: 25px;
}

.gallery-container {
  /* TODO add styles (hint: use flex!) https://www.w3schools.com/cssref/ */
  display: flex;
  align-items: space-evenly;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
